html 
{
  height: 100%;
  scroll-behavior: smooth;
}

body 
{
	background-color: #F1EEE9;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 1rem;
  font-family: "Open Sans";
}

div 
{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a 
{
  text-decoration: none;
  transition: color 0.2s ease;
}

nav
{
  text-align: right;
  height: 100px;
  line-height: 100px;
  background-color: #090b28;
  font-family: 'Open Sans'; 
}

nav ul
{
  margin: 0 30px 0 0;
}

nav ul li
{
  display: inline;
}

nav ul li a
{
  text-decoration: none;
  color: #fffafa;
  margin: 0 35px;
  line-height: 100px;
  display: inline;
  font-size: 25px;
}

nav img
{
  transition: .5s;
  padding-left: 100px;
  float: left;
}

nav ul li a:hover
{
  color: #A8A8A8
}

.active
{
  color: #A8A8A8;
}

label
{
  display: none;
}

#toggle
{
  display: none;
}

@media (max-width: 1050px)
{
  nav
  {
    display: none;
  }

  #menuToggle
  {
    display: block;
    text-align: center;
    width: 100%;
    background-color: #090b28;
  }

  .menuList
  {
    text-align: center;
    width: 100%;
    display: none;
    background-color: #10162b;
  }

  .menuList a
  {
    color: #fffafa;
    text-decoration: none;
    border-bottom: 1px solid #fffafa;
    display: block;
    margin: 0;
    line-height: 70px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
  }

  .menuList a:first-child
  {

    border-top: 1px solid #fffafa;
  }

  label
  {
    margin: 0;
    font-size: 45px;
    text-align: center;
    line-height: 70px;
    display: block;
    cursor: pointer;
    color: #fffafa;
  }

  #toggle
  {
    display: none;
  }

  #toggle:checked + .menuList
  {
    display: block; 
  }     
}

@media (min-width: 1050px)
{
	#menuToggle
	{
		display: none;
	}
}

#container
{
	min-height: 837px;
	overflow: auto;
}

#container .backgroundform
{
	width: 80%;
	height: 620px;
	margin: 20px auto;
	background-color: #fffafa;
	border-radius: 10px;
	position: relative;
	padding-bottom: 50px;
}

.border
{
  height: 5px;
  width: 100px;
  background: #090b28;
  margin: 20px auto;
}

.contact-form
{
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
}

.contactform h1
{
  font-size: 48px;
  color: #090b28;
  text-align: center;
  margin-top: 60px;
}

.contactform h4
{
	text-align: center;
	color: #090b28;
}

.contact-form-text
{
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: #090b28;
  padding: 20px 40px;
  outline: none;
  color: #ddd;
  transition: 0.5s;
}

.contact-form-text:hover
{
  box-shadow: 0 0 10px 4px #34494e;
}

textarea.contact-form-text
{
  resize: none;
  height: 120px;
}

.contact-form-btn
{
  float: right;
  border: 0;
  background: #090b28;
  color: #fffafa;
  padding: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}

.contact-form-btn:hover
{
  background: #2980b9;
}

#footer
{
  margin: 0;
  padding: 0; 
  background-color: #090b28;
  color: #fffafa;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 50px;
  float: bottom;
  position: relative;
  margin-top: -50px;
  clear: both;
}

@media (max-width: 325px) 
{
	#footer h3
	{
		font-size: 10px;
	}
}

#footer h3
{
  float: right;
  margin: 0;
  padding-top: 15px;
  padding-right: 30px;
}